%br
%br
= link_to 'Crawl new URL', new_site_path, class: 'btn btn-primary', type: 'button'
%hr
.row
  .col-md-12
    = form_tag events_path, method: :get do
      .row
        .col-md-4
          = label_tag 'Search'
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Enter Event title, keyword..'
        .col-md-2
          = label_tag 'Websource'
          = select_tag 'websource', options_for_select(@websources, selected: params[:websource]), include_blank: "All", class: 'form-control'
        .col-md-2
          = label_tag 'From Date'
          = text_field_tag :from_date, params[:from_date], class: 'form-control'
        .col-md-2
          = label_tag 'To Date'
          = text_field_tag :to_date, params[:to_date], class: 'form-control'
        .col-md-2
          = label_tag ''
          = submit_tag 'Search', class: 'btn btn-primary btn-block', type: 'submit'

%br          
.row
  - @events.each do |event|
    .column
      = image_tag event.image, width: '200px', height: '200px'
      %h3
        = truncate(event.title, length: 25)
      %p
        = "#{event.from_date.to_date}" if event.from_date.present?
        = "to #{event.to_date.to_date}" if event.to_date.present?
        = truncate(event.body, length: 50) { link_to "more", event_path(event.id), target: 'blank' }
